.post{width:250px;min-height:330px;margin-bottom:20px;margin-left:15px;margin-right:15px;float:left;border:2px solid black;background-color:white;border-radius:5px}
.post h3{margin:5px;font-size:100%;text-align:center}
.post h4{margin:0px;font-size:85%;text-align:center}
.post img{margin:0px;padding:2px;margin-bottom:10px;width:100%;height:245px}
.post1{
      margin: 0 auto;
}

body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #8d19c7;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
